html{
	font-size: 25px;
}

p{
	font-family: 'Mada';
	font-size: 170%;
	line-height: 350%;
	width:70%;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom:5%;
}

#backgroundCompete {
		font-family: 'Mada';	
		text-align: center;
}



h3{
	font-size: 250%;
	font-family: 'Mada';
}

.linkUpLogo img{
	width: 18%;
	height: auto;
}

.Persona img{
	width: 45%;
	height: auto;
}


.title{
	bottom-padding: 100px;
}

#intro1{
	font-size: 60px;
	background-color:pink;
	opacity: 0.7;
}

.projectHead {
	background-color: #68646B;
	padding: 1%;
	Font-weight: normal;
	color: white;
}

.button img{
	width: 35%;		
	height: auto;		
}

.pic.Flow img{
	width: 25%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Sketch img{
	width: 16%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Wireframe img{
	width: 50%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.User img{
	width: 30%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Wireframe2 img{
	width: 50%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Brand img{
	width: 35%;		
	height: auto;
	bottom-padding: 5px;		
}


#logoColor {
	display:inline-block;
}

#name{
	display: inline-block;
	font-family: 'La Belle Aurore';
	font-size: 500%;
	text-align: left;
}

h2{
	font-family: 'La Belle Aurore';
	font-size: 300%;
	text-align: center;
}

h4{
	font-family: 'Mada';
	font-size: 150%;
	text-decoration: underline;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	font-family: 'Mada';
	font-size: 150%;
	width: 60%;
}

.title h1{
	font-size: 250%;
	text-align: center;
	width: 100%;
}

.linkUpMain{
	text-align: center;
}

.container {
	background-color: white;
	width: 100;
}

#intro1 {
	padding:5%;
	line-height: 250%;
}

.competitiveAnalysis img{
	width:60%;
	height: auto;
	text-align: center;
	padding-bottom: 5%;
}

.prototype, .compare, .button, .pic{
	
	text-align: center;
	margin-bottom: 5%;
}


.protoPhone img{
	height: auto;
	width: 15%;
	display: inline-block;			
}

.protoDesktop img{
	height: auto;
	width: 50%;
	display: inline-block;			
}

.busyBus img{
	width: 20%;
}

.linkUp img{
	width: 20%;
}

body {
	background-color: white;
	width: 100%;		
}

.social {
	text-align: right;
	padding-top: 3%;
}

#background1 {
		background-color: rgba(104,100,107, 0.2);
		float: left;
}

#background2 {
		background-color: rgba(104,100,107, 0.2);
		float: right;
}

.background {
		background-color: rgba(104,100,107, 0.2);
}



/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
