body{
	font-size: 22.5px;
	line-height: 200%;
	font-family: 'Mada';
	width: 100%;
					
}

* {
	box-sizing: border-box;
}

p{
	text-align: left;
	margin-left: 30rem;
	margin-right: 30rem;
	margin-top: 5rem;
	margin-bottom: 5rem;

}

.header {
	background-color: grey;
	padding: 1rem;
	color: white;
}


.hero {
	font-size: 50px;
	background-color: pink;
	opacity: 0.7;
	padding: 10rem 10rem;
	line-height: 5rem; 	
	text-align: center;
}

.navbar {
	float: right;
	display: inline-block;
	padding-right: 3%;
}

body {
	background-color: white;
	width: 100%;
}

#headerLogo {
	padding-left: 3%;
	padding-top: 3%;
}


h3{
	font-size: 200%;
	font-family: 'Mada';
}

.linkUpLogo img{
	width: 18%;
	height: auto;
}


.projectHead {
	background-color: #68646B;
	padding: 1%;
	Font-weight: normal;
	color: white;
}

.button.Final img{
	width: 55%;		
	height: auto;		
}

.pic.Flow img{
	width: 25%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Sketch img{
	width: 16%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Wireframe img{
	width: 50%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.User img{
	width: 30%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Wireframe2 img{
	width: 50%;		
	height: auto;
	bottom-padding: 5px;		
}

.pic.Brand img{
	width: 35%;		
	height: auto;
	bottom-padding: 5px;		
}


#logoColor {
	display:inline-block;
	width: 40%;
}

#name{
	display: inline-block;
	font-family: 'La Belle Aurore';
	font-size: 500%;
	text-align: left;
}

h2{
	font-family: 'La Belle Aurore';
	font-size: 43.95px;
	text-align: center;
}

h4{
	font-family: 'Mada';
	font-size: 150%;
	text-decoration: underline;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	font-family: 'Mada';
	font-size: 130%;
}

.title h1{
	font-size: 250%;
	text-align: center;
	width: 100%;
}

.linkUpMain{
	text-align: center;
}

.container {
	background-color: white;
	width: 100%;
}

.competitiveAnalysis img{
	width:60%;
	height: auto;
	text-align: center;
	padding-bottom: 5%;
}

.prototype, .compare, .button, .pic, .prototypes{	
	text-align: center;
	margin-bottom: 5%;
}

#prototypes{
	text-align: center;
}

.protoPhone .protoDesktop {
	display: inline-block;			
}

.protoDesktop img{
	width: 50%;			
}


.busyBus img{
	width: 20%;
}

.linkUp img{
	width: 20%;
}

.pic.Persona img{
	width: 45%;
}

.social {
	text-align: center;
	padding: 5rem;
	display: block;
	width: 100%;
	clear: both;
	background-color: pink;
	
}

#background1, #background2 {
	float: left;
	width: 50%;
	padding-left: 3%;
	font-family: 'Mada';
	font-size: 28.13px;
	line-height: 200%;
	height: 35rem;
}

#projectLink {
	color: #6F97FF;
}

.background {
	background-color: rgba(104,100,107, 0.2);
}

.project {
	float: right;
	margin: 2%;
	width: 35%;
	
}

#headerLogo {
	text-align: center;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

